html {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  /* background: linear-gradient(135deg, hsl(151, 79%, 23%), hsl(45, 94%, 51%)); */
  color: white;
  padding: 10px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  min-height: 120px;
  background: linear-gradient(135deg, hsl(151, 79%, 51%), hsl(45, 94%, 23%));
  padding: 5px;
}
.header-info {
  padding: 10px;
}
.logo {
  border: 2px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  z-index: 1;
}
.logo img {
  height: 200px;
  width: 200px;
  z-index: 0;
  border-radius: 50%;
}

.header-top-menu-bar {
  text-align: center;
  background-color: #0c693c;
  color: rgb(248, 189, 13);
  margin: 0;
  padding: 2px;
}
.header-top-menu-bar ul {
  padding-inline-start: 0px;
  margin: 0px;
}

.header-top-menu-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.header-top-menu-bar a {
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  color: white;
  padding: 5px 0px;
  border-radius: 4px;
  transition: 0.5s;
}

.header-top-menu-bar a:visited {
  color: white;
}

.header-top-menu-bar a.active {
  color: #0c693c;
  background: rgb(248, 189, 13);
}
.header-top-menu-bar a:hover {
  font-size: 10px;
  background-color: rgb(248, 189, 13);
  color: #0c693c;
  border-bottom: 2px solid #0c693c;
  border-right: 2px solid #0c693c;
}
@media screen and (max-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .container {
    /* background: linear-gradient(135deg, hsl(151, 79%, 23%), hsl(45, 94%, 51%)); */
    color: white;
    padding: 10px;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  .header {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    min-height: 120px;
    background: linear-gradient(135deg, hsl(151, 79%, 51%), hsl(45, 94%, 23%));
    padding: 5px;
  }
  .header-info {
    padding: 10px;
  }
  .header-info h1 {
    font-size: 22px;
  }
  .header-info h2 {
    font-size: 12px;
  }
  .logo {
    border: 2px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 1;
  }
  .logo img {
    height: 100px;
    width: 100px;
    z-index: 0;
    border-radius: 50%;
  }

  .header-top-menu-bar {
    text-align: center;
    background-color: #0c693c;
    color: rgb(248, 189, 13);
    margin: 0;
    padding: 2px 0px;
  }
  .header-top-menu-bar ul {
    padding-inline-start: 0px;
    margin: 0px;
  }

  .header-top-menu-bar li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  .header-top-menu-bar a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;
    position: relative;
    color: white;
    padding: 5px 3px;
    border-radius: 4px;
    transition: 0.5s;
  }

  .header-top-menu-bar a:visited {
    color: white;
  }

  .header-top-menu-bar a.active {
    color: #0c693c;
    background: rgb(248, 189, 13);
  }
  .header-top-menu-bar a:hover {
    font-size: 10px;
    background-color: rgb(248, 189, 13);
    color: #0c693c;
    border-bottom: 2px solid #0c693c;
    border-right: 2px solid #0c693c;
  }
}
