:root {
  --dark-color: hsl(263, 11%, 24%);
  --lighter-color: hsl(239, 89%, 32%);
  --lighter1-color: hsl(232, 64%, 54%);
  --lighter2-color: hsl(219, 47%, 80%);
  --lighter3-color: hsl(77, 100%, 97%);

  --light1: hsl(199, 64%, 73%);
  --light2: hsl(192, 70%, 43%);
  --light3: hsl(200, 95%, 14%);
  --light4: hsl(43, 100%, 51%);
  --light5: hsl(32, 100%, 49%);

  --option1: hsl(300, 7%, 3%);
  --option2: #3874ff;
  --option3: hsl(356, 74%, 52%);
  --option4: #fdca3f;
  --option5: #e7e9e7;

  --col1: #000814;
  --col2: #001d3d;
  --col3: #003566;
  --col4: #ffc300;
  --col5: #ffd60a;
}
html {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background: url(images/20210803_085701.jpg); */
}
.main {
  /* display: block; */
  background: var(--option1);
  color: var(--option5);
  /* padding: 10px; */
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  min-height: 120px;
  background: linear-gradient(
    to left,
    var(--option2),
    var(--option4),
    var(--option3)
  );
  color: var(--option5);
  padding: 5px;
}
.header-info {
  padding: 10px;
}
.logo {
  border: 2px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  z-index: 1;
}
.logo img {
  height: 200px;
  width: 200px;
  z-index: 0;
  border-radius: 50%;
}

.header-top-menu-bar {
  text-align: center;
  background: var(--option2);
  color: var(--option5);
  margin: 0;
  padding: 5px 10px;
}
.header-top-menu-bar ul {
  padding-inline-start: 0px;
  margin: 0px;
}

.header-top-menu-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.header-top-menu-bar a {
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  color: var(--option5);
  padding: 5px 0px;
  border-radius: 4px;
  transition: 0.5s;
}

.header-top-menu-bar a:visited {
  color: var(--option5);
}
.header-top-menu-bar a:hover,
.header-top-menu-bar a:focus {
  font-size: 10px;
  background-color: var(--option5);
  color: var(--option1);
  border-bottom: 2px solid #0c693c;
  border-right: 2px solid #0c693c;
}
.header-top-menu-bar a.active {
  color: var(--option1);
  background: var(--option5);
}
.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .container {
    /* color: var(--option5); */
    /* padding: 2px; */
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  .header {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    min-height: 120px;
    padding: 5px;
    background: linear-gradient(
      to left,
      var(--option2),
      var(--option4),
      var(--option3)
    );
  }
  .header-info {
    padding: 10px;
  }
  .header-info h1 {
    font-size: 22px;
  }
  .header-info h2 {
    font-size: 12px;
  }
  .logo {
    border: 2px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 1;
  }
  .logo img {
    height: 100px;
    width: 100px;
    z-index: 0;
    border-radius: 50%;
  }

  .header-top-menu-bar {
    text-align: center;
    background: var(--option2);
    color: var(--option5);
    margin: 0;
    padding: 2px 0px;
  }
  .header-top-menu-bar ul {
    padding-inline-start: 0px;
    margin: 0px;
  }

  .header-top-menu-bar li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  .header-top-menu-bar a {
    text-decoration: none;
    color: var(--option5);
    font-size: 10px;
    font-weight: 600;
    position: relative;
    padding: 5px 4px;
    margin: 2px;
    border-radius: 4px;
    transition: 0.5s;
  }

  .header-top-menu-bar a:visited {
    color: var(--option5);
  }
  .header-top-menu-bar a:hover {
    font-size: 10px;
    color: var(--option1);
    background-color: var(--option5);
    border-bottom: 2px solid var(--option1);
    border-right: 2px solid var(--option1);
  }
  .header-top-menu-bar a.active {
    color: var(--option1);
    background: var(--option5);
  }

  .main {
    background: var(--option1);
    color: var(--option5);
    width: 400px;
  }
  .foto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    background: linear-gradient(
      45deg,
      var(--option2),
      var(--option4),
      var(--option3)
    );
    /* position: relative; */
  }
  .foto img {
    max-height: 200px;
    max-width: 200px;
    width: auto;
    height: auto;
    border: 1px solid var(--option5);
    border-radius: 15px;
    object-fit: cover;
  }
}
